<div class="main-content container">
    <form 
    class ="main-form" 
    action="{{ form_action }}" 
    method="POST"
    enctype="multipart/form-data">
      {% csrf_token %}

      <div class="patient-list">
        {% if patients %}
            <h3 class="personal-heading">Lista de Pacientes:</h3>
            <div class="patient-radio-list">
              <ul>
                {% if patients %}
                  {% for patient in patients %}
                      <li>
                          <input type="radio" name="selected_patient" value="{{ patient.id }}">
                          {{ patient.first_name }} {{ patient.last_name }} - CPF: {{ patient.cpf }}
                      </li>
                  {% endfor %}
                 
                {% endif %}
              </ul>
            </div>
        {% else %}
            <p>Nenhum paciente encontrado.</p>
        {% endif %}
      </div>
      {% include 'global/partials/pagination.html' %}
      
      <div class="form-content form-content-grid">  
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{field}}

            {% if field.help_text %}
              <p class="help-text">{{ field.help_text }}</p>
            {% endif %}

            {{ field.errors }}
          </div>
          {% if field.name == 'image' and field.value.url %}
              <img src="{{ field.value.url }}" alt="image">
          {% endif %}
        {% endfor %}
      </div>

      {% if form.errors %}
      <div class="form-content form-content-grid">
        <div class="form-group">
          <div class="message message-error">
            Existem erros no formulário, por favor, corrija antes de enviar!
          </div>
        </div>
      </div>
      {% endif %}

      <div class="form-content form-content-grid button-container">
        <!-- botao para se enviar -->
        <div class="form-group">
          <button type="submit">Enviar</button>
        </div>
      </div>
    </form>
</div>