<div class="recipe recipe-list-item">
    <div class="user-profile-details">
        <div class="patient-content">
            <div class="patient-content-paragrah">   
                <p><strong> Nome: </strong> {{ patient.first_name }} {{ patient.last_name }}</p>
                <br>
                <p><strong> CPF: </strong> {{ patient.cpf }}</p>
                <br>
                <p><strong> Nascimento: </strong>{{ patient.birthday }} </p>
                <br>
                <p><strong> ID: </strong> {{ patient.user_id }}</p>        
            </div> 
            <div class="button-access-user-space">
                <a href="{% url 'lab:patient_detail' user_id=patient.user_id %}" class="btn-access">
                    <i class="fas fa-user"></i>‎ ‎ ‎‎‎‎
                    Visualizar perfil
                </a>
            </div>
        </div>
    </div>
</div>  