{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    
    <head>
        {% include 'global/partials/head.html' %}
        <title>{% block title %}{% endblock title %} AH</title>
    </head>

    <body>
        {% include 'global/partials/menu.html' %}
        
            {%include 'global/partials/header.html'%}
            
            {% include 'global/partials/messages.html' %} 
            
            <main>
                {% block content %}{% endblock content %}
            </main>

            {% include 'global/partials/footer.html'%} 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'global/js/scripts.js' %}"></script>
        
    </body>
</html>