{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    
    <head>
        {% include 'global/partials/head.html' %}
        <title>{% block title %}{% endblock title %} AH</title>
    </head>

    <body>
        {% include 'global/partials/menu.html' %}

        {%include 'global/partials/header.html'%}  

        {% include 'global/partials/messages.html' %} 
        
        <main>
            {% block content %}{% endblock content %}
        </main>

        {% include 'global/partials/footer.html'%} 
    </body>

    <script src="{% static 'global/js/scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="{% static 'global/js/mask_form_fields.js' %}"></script>
    <script src="{% static 'global/js/ibge_city.js' %}"></script>
    
</html>