<div class="main-content-login">
    <form action="{{ form_action }}" method="POST">
        {% csrf_token %}
        <div class="login-container">
            <div class="login-card">
                <div class="retangulo-esquerda">
                    <div "text-left-card">
                        <h3 class="card-intro">Bem vindo de volta</h3>
                        <h6 class="card-info">Acesse sua conta agora mesmo.</h6>
                    </div>
                    <img src="/media/lab/logo/ah-logo.png" alt="Logo" class="image-logo-login">
                </div>
            
                <div class="wrapper">
                    <h3>Entre com sua conta agora</h3>
                    <div class="input-box">
                        <label for="{{ form.username.id_for_label }}"></label>
                        {{ form.username }}
                        <i class='bx bxs-user'></i>
                    </div>

                    {% if form.username.help_text %}
                        <p class="help-text">{{ form.username.help_text }}</p>
                    {% endif %}

                    {{ form.username.errors }}
                
                    <div class="input-box">
                        <label for="{{ form.password.id_for_label }}"></label>
                        {{ form.password }}
                        <i class='bx bxs-lock-alt'></i>
                    </div>

                    {% if form.password.help_text %}
                        <p class="help-text">{{ form.password.help_text }}</p>
                    {% endif %}

                    {{ form.password.errors }}
                
                    {% if form.errors %}
                        <div class="message message-error">
                            Existem erros no formulário, por favor, corrija antes de enviar!
                        </div>
                    {% endif %}

                    <!-- Botões abaixo dos inputs -->
                    <div class="btn-cont">
                        <!-- botão para se logar -->
                        <div class="form-group-temp">
                            <button type="submit" id="btn-temp">Enviar</button>
                        </div>

                        <!-- botão para se cadastrar precisa estilizar -->
                        {% if is_registration_page %}
                            
                            <a href="{{ back_url}}" class="btn-voltar-temp">Voltar</a>
                            
                        {% else %}
                            
                            <a href="{% url 'authors:register' %}" class="btn-register-temp">Cadastrar-se</a>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
