<header class="main-header-container">
    <div class="main-header container">
        <img src="/media/lab/logo/ah-logo.png" alt="Logo" class="image-logo">
        
        <a href="{% url 'lab:home' %}" class="logo-link">
            <h1 class="main-logo">
                <img src="/media/lab/logo/diagnose.png" alt="titulo" class="image-title">      
            </h1>
            <i class='bx bxs-donate-blood'></i>
        </a>

        <h4 class="hello-user">
            <span class="hello"> Olá,</span>
            <span class="name">{{user.username}}!</span>
        </h4>
    </div>
</header>