<header class="main-header-container">
    <div class="main-header container header-responsive-949">
       
        <div class="imagem-logo-container">
            <img src="/media/lab/logo/ah-logo.png" alt="Logo" class="image-logo">
        </div>
        <div class="image-title-container">
            <a href="{% url 'lab:home' %}" class="logo-link">
                <h1 class="main-logo">
                    <img src="/media/lab/logo/diagnose.png" alt="titulo" class="image-title">      
                </h1>
                <i class='bx bxs-donate-blood'></i>
            </a>
        </div>
        
        <div class="header-bottom-responsive">
            <div class="hello-user-container">
                <h4 class="hello-user">
                    <a href="{%url 'authors:my_profile' %}">                        
                       Meu perfil
                        <i class="fa-solid fa-user i-user-header"></i>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</header>