{% load permission_tags %}
<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text"></span>
  </button>
  
  <div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
      <i class="fas fa-times-circle"></i>
      <span class="hidden-text"></span>
    </button>
  
    <div class="menu-content">
      <nav class="menu-nav">

        {% if user.is_authenticated %}
         
            
            <a href="{%url 'lab:home' %}">
              <div class="menu-href-line">
                <i class="fa-solid fa-house menu-icons"></i>
                <h5>Página inicial</h5> 
              </div>
            </a>
            
       
          {% if user.is_superuser %}
            <a href="{%url 'lab:register_custom_user'%}"> 
              <div class="menu-href-line">
                <i class="fa-solid fa-user-plus menu-icons"></i>
                <h5>Cadastro de usuário</h5>
              </div>
            </a>
          {% endif %}

          {% if user|can:'cadastrar_paciente'%}
            <a href="{%url 'authors:register_patient'%}"> 
              <div class="menu-href-line">
                <i class="fa-solid fa-user-plus menu-icons"></i>
                <h5>Cadastro de paciente</h5>
              </div>
            </a>
          {% endif %}

          {% if user|can:'pesquisar_paciente'%}
            <a href="{%url 'lab:search_patient'%}">
              <div class="menu-href-line">
                <i class="fa-solid fa-magnifying-glass menu-icons"></i>
                <h5>Pesquisar paciente </h5>
              </div>
            </a>
          {% endif %}

          {% if user|can:'laudo_enviar_permission'%}
            <a href="{%url 'lab:send_img'%}"> 
              <div class="menu-href-line">
                <i class="fa-solid fa-share menu-icons"></i>
                <h5>Enviar imagem</h5> 
              </div>
            </a>
          {% endif %}

          {% if user|can:'visualizar_laudo'%}
            <a href="{%url 'lab:report_search'%}">
              <div class="menu-href-line">
                <i class="fa-solid fa-flask menu-icons"></i>  
                <h5>Consultar laudo </h5>
              </div>
            </a>
          {% endif %}

          <a href="{%url 'lab:about' %}">
            <div class="menu-href-line">
              <i class="fa-solid fa-circle-info menu-icons"></i>
              <h5>Sobre</h5> 
            </div>
          </a>
          
          <!-- Perfil do usuário logado-->
          <a href="{%url 'authors:my_profile'%}"> 
            <div class="menu-href-line">
              <i class="fa-solid fa-user menu-icons"></i>
              <h5>Meu perfil</h5>
              </div>
            </a>
            <a class="authors-logout-link" href="{% url 'authors:logout' %}">
              Sair    
            </a>
            {% include 'authors/partials/form_logout.html' %}
        {% else %}

          <a href="{% url 'authors:login' %}">Login</a>
          <a href="{% url 'authors:register' %}">Cadastrar</a>
        {% endif %}
      </nav>
    </div>
  </div>