<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text"></span>
  </button>
  
  <div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
      <i class="fas fa-times-circle"></i>
      <span class="hidden-text"></span>
    </button>
  
    <div class="menu-content">
      <nav class="menu-nav">
        <a href="{% url 'lab:home' %}">Página inicial</a>
  
        {% if user.is_authenticated %}
    
        <a href="{%url 'lab:cadastro_paciente'%}"> Cadastro paciente </a>
        <a href="{%url 'lab:laudo_enviar'%}"> Enviar laudo </a>
        <a href="{%url 'lab:laudo_consultar'%}"> Consultar laudo </a>
        <a href="{%url 'lab:pesquisa'%}"> Pesquisar paciente </a>
        <a href="{%url 'lab:alterar_dados'%}"> Alterar dados </a>
        
        <a class="authors-logout-link" href="{% url 'authors:logout' %}">Sair</a>
        {% include 'authors/partials/form_logout.html' %}

        {% else %}
          <a href="{% url 'authors:login' %}">Login</a>
          <a href="{% url 'authors:register' %}">Cadastrar</a>
      {% endif %}
      </nav>
    </div>
  </div>