{% load static %}
<div class="search-container-report">
    <div class="search-fst-box-report">
        <form action="{% url 'lab:laudo_consultar' %}" method="GET" class="search-form">
            <input 
                type="search" class="search-input" 
                name="q" value="{{ search_term }}"  
                placeholder="Digite o nome ou CPF para filtrar a busca"
            >
        </form>
    </div>

    <div class="search-sec-box-report">
        <div class="date-box">
            <form action="{% url 'lab:laudo_consultar' %}" method="GET" class="date-search-form">
                <label for="search_date">Data:</label>
                <input type="date" id="search_date" name="search_date">
            </form> 
        </div>

        <div class="button-search-report">
            <button type="button" class="search-button" id="combined-search-button">
                <i class="fas fa-search"></i> Pesquisar
            </button>
        </div>
    </div>
</div>
<script src="{% static 'global/js/combined_search.js' %}"></script>