{% load static %}

<div id="container" class="center">
    <div class="tab-buttons">
        <button class="tab-btn active" content-id="data-patient">
            <div class="tab-title">
                <i class="fa-solid fa-person"></i>
                <h3>Meus dados</h3>
            </div>
        </button>

        <button class="tab-btn" content-id="my-reports">
            <h3>Meus laudos</h3>
        </button>
    </div>

    <div class="tab-contents">
        <div class="content" id="data-patient">
            <div class="infos">

                <h4 class="tab-user-h4-top">Informações pessoais</h4>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Nome completo</strong>
                    </div>
                    <div class="tab-data-right">    
                        {{ patient.user.first_name }} {{patient.user.last_name}}
                    </div>
                </div>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Nome de usuário </strong>
                    </div>
                    <div class="tab-data-right">  
                        {{ patient.user.username }}
                    </div>
                </div>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Data de nascimento </strong>
                    </div>
                    <div class="tab-data-right">  
                        {{ patient.birthday }}
                    </div>
                </div>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>CPF: </strong>
                    </div>
                    <div class="tab-data-right"> 
                        {{ patient.cpf }}
                    </div>
                </div>

                <h4 class="tab-user-h4">Endereço</h4>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Rua: </strong>
                    </div>
                    <div class="tab-data-right"> 
                        {{ patient.street }}
                    </div>
                </div>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Número </strong>
                    </div>
                    <div class="tab-data-right"> 
                        {{ patient.number }}
                    </div>
                </div>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Cidade </strong>
                    </div>
                    <div class="tab-data-right"> 
                        {{ patient.city }}
                    </div>
                </div>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Estado </strong>
                    </div>
                    <div class="tab-data-right"> 
                        {{ patient.state }}
                    </div>
                </div>

                <h4 class="tab-user-h4">Cadastro</h4>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Responsável</strong>
                    </div>
                    <div class="tab-data-right"> 
                        {{ patient.fk_recpt.user.username }}
                    </div>
                </div>
                
            </div>
        </div>

        <div class="content" id="my-reports">
            <div class="infos">

                {% if reports %}
                
                    <div class="report-list-container">
                        {% for report in reports %}
                            <div class="report report-list-search">
                                <div class="report-content">
                                    <p> <strong> Data do laudo: </strong> <br> {{ report.lab.created_at }}</p>
                                    <p> <strong> Técnico responsável: </strong>  <br> {{report.lab.fk_tec }}</p>
                                    <div class="report-user-access-container">
                                        <a href= {% url "lab:report_detail" report_id=report.id  %} class="report-user-access-btn"> 
                                            Detalhes <i class='bx bxs-binoculars'></i> 
                                        </a>
                                    </div>
                                </div>                              
                            </div>    
                        {% endfor %}       
                    </div>

                {% else %}

                    <h2 class="no-report-msg center no-rep-resp">
                        Você não possui nenhum laudo de hemograma                     
                    </h2>

                {% endif %}   
                               
            </div>
        </div>        
    </div>
</div>
<script src="{% static 'global/js/profile_tab.js' %}"></script>
