{% load static %}

<div id="container">
    <div class="tab-buttons">
        <button class="tab-btn active" content-id="data-recpt">
            <div class="tab-title">
                <i class="fa-solid fa-person"></i>
                <h3>Meus dados</h3>
            </div>
        </button>

        <button class="tab-btn" content-id="registered-patients-recpt">
            <div class="tab-title">
                <i class="fa-solid fa-list"></i>
                <h3>Pacientes que eu cadastrei</h3>
            </div>
        </button>
    </div>

    <div class="tab-contents">
        <div class="content" id="data-recpt">
            <div class="infos">

                <h4 class="tab-user-h4-top">Informações pessoais</h4>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>Nome completo</strong>
                    </div>
                    <div class="tab-data-right">
                        {{ recpt.user.first_name }} {{recpt.user.last_name}} </p>
                    </div>
                </div>
                <div class="field">
                    <div class="tab-label-left">
                        <strong>Nome de usuário</strong>
                    </div>
                    <div class="tab-data-right">
                        {{ recpt.user.username }}
                    </div>
                </div>
            </div>
        </div>

        <div class="content" id="registered-patients-recpt">
            <div class="infos">

                {% if patients %}

                    <div class="patients-created-list">
                        {% for patient in patients %}
                            <div class="user-profile-details">
                                <div class="patient-content">
                                    <div class="patient-content-paragrah">   
                                        <p><strong> Nome: </strong> {{ patient.user.first_name }} {{ patient.last_name }}</p>                                   
                                        <p><strong> CPF: </strong> {{ patient.cpf }}</p>                                   
                                        <p><strong> Nascimento: </strong>{{ patient.birthday }} </p>                                 
                                        <p><strong> ID: </strong> {{ patient.user_id }}</p>        
                                    </div> 
                                    <div class="button-access-user-space">
                                        <a href="{% url 'lab:patient_detail' user_id=patient.user_id %}" class="btn-access">
                                            <i class="fas fa-user"></i>‎ ‎ ‎‎‎‎
                                            Visualizar perfil
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}   
                    </div>

                {% else %}

                    <h2 class="no-report-msg center no-rep-resp">
                        Você ainda não cadastrou nenhum paciente               
                        <h4>Para cadastrar, 
                            <a href="{% url "authors:register_patient" %}" class="send-img-href-tab">
                                acesse aqui 
                                <i class="fa-solid fa-share "></i>
                            </a>
                        </h4>
                    </h2>

                {% endif %}
                
            </div>
        </div>        
    </div>
</div>
<script src="{% static 'global/js/profile_tab.js' %}"></script>
