{% load static %}

<div id="container" class="center">
    <div class="tab-buttons">
        <button class="tab-btn active" content-id="data-tec">
            <div class="tab-title">
                <i class="fa-solid fa-person"></i>
                <h3>Meus dados</h3>
            </div>
        </button>

        <button class="tab-btn" content-id="created-reports-tec">
            <div class="tab-title">
                <i class="fa-solid fa-list"></i>
                <h3>Laudos que eu criei</h3>
            </div>
        </button>
    </div>

    <div class="tab-contents">
        <div class="content" id="data-tec">
            <div class="infos">
               
                <div class="field">
                    <div class="tab-label-left">
                        <strong>Nome completo:</strong> 
                    </div>
                    <div class="tab-data-right">
                        {{ tec.user.first_name }} {{patient.user.last_name}} 
                    </div>
                </div>
            
                <div class="field">
                    <div class="tab-label-left">
                        <strong>Nome de usuário: </strong>
                    </div>
                    <div class="tab-data-right">
                        {{ tec.user.username }}
                    </div>
                </div>

                <div class="field">
                    <div class="tab-label-left">
                        <strong>CRM: </strong>
                    </div>
                    <div class="tab-data-right">
                        {{ tec.crm }}
                    </div>
                </div>
                
            </div>
        </div>

        <div class="content" id="created-reports-tec">
            <div class="infos">
                <div class="report-list-container">
                    {% for lab in labs %}
                        <div class="report report-list-search">
                            <div class="report-content">
                                <p><strong>Data do laudo:</strong> </p>{{ lab.created_at }}
                                    
                                <p><strong>Nome do paciente: </strong>                                 
                                    {{ lab.patient.user.first_name }}
                                    {{ lab.patient.user.last_name }}
                                </p> 
                                <p><strong>CPF do paciente:</strong> </p>{{ lab.patient.cpf }}
                                <div class="report-user-access-container">
                                    <a href= {% url "lab:report_detail" report_id=lab.id  %} class="report-user-access-btn"> 
                                        Detalhes <i class='bx bxs-binoculars'></i> 
                                    </a>
                                </div>
                            </div>
                            
                        </div>    
                    {% endfor %}                    
                </div>
            </div>
        </div>        
    </div>
</div>
<script src="{% static 'global/js/profile_tab.js' %}"></script>
