{% extends 'global/base.html' %}    
{% load static %}

{% block title %}Home |{% endblock title %}

{% block content %}
    <div class="main-content container">
        <div class="about-container">
            <div class="subtitle-about">
                <h2>Quem desenvolveu o sistema?</h2>
                <div class="line"></div>
            </div>
            <div class="who-created">
                <div class="about-image-container">
                    <img src="/media/lab/logo/heliel.png" alt="titulo">  
                </div>
                <div class="text">
                    <p>Esse sistema foi desenvolvido pelo estudante de análise e desenvolvimento de sistemas
                <strong>Heliel Souza Lima</strong>, na instituição de ensino COTUCA, no final de 2023.</p><br>
                    <p>O projeto foi idealizado através de um Trabalho de Conclusão de Curso (TCC), 
                        onde no qual, a idéia surgiu por conta de seu ex-colega de sala, <strong>Anderson.</strong></p> <br>
                    <p> Anderson, dias depois, saiu do curso, onde todo o trabalho de desenvolvimento foi 
                    atribuído ao Heliel. A idéia se amadureceu cada vez mais, onde foram incluídas novas 
                    funcionalidades até chegar ao produto final.
                    </p>
                </div>
            </div>
            <div class="subtitle-about">
                <h2>Como funciona esse sistema?</h2>
                <div class="line"></div>
            </div>
            <div class="system-funcionality">
                <p>Esse sistema foi criado para ser usado em um controle de laboratório que realiza exames de sangue, 
                    com diversas funcionalidades
                    incluídas:
                    <div class="list">
                        <li> Geração de laudos de hemograma através de imagens microscópicas com um modelo de IA treinado;</li>
                        <li> Controle e cadastro de usuários (Pacientes, Técnicos, Recepcionistas e Administradores);</li>
                        <li> Permissões específicas para cada tipo de usuário;</li>                    
                        <li> Controle de laudos criados por técnicos associando à um paciente;</li>
                        <li> Login e meu perfil, com todas as movimentações e dados pessoais;</li>
                    </div>
                </p>
            </div>
            <div class="subtitle-about">
                <h2>Como são as permissões de usuários?</h2>
                <div class="line"></div>
            </div>  
            
            {% include "lab/partials/tab_user_permissions.html" %}
                
            <div class="subtitle-about">
                <h2>Qual o objetivo deste sistema?</h2>
                <div class="line"></div>
            </div>  
            <div class="system-goals">
               <p> O maior objetivo desse sistema é aprimorar a fase introdutória de uma realização de exame sanguíneo, 
                retornando em questões de segundos o resultado em forma de hemograma de uma análise de uma imagem de sangue microscópica.
                </p><br>
                <p>Além disso, com base nos tipos de usuários que podem ser criados, as permissões de acesso e funções dentro do sistema,
                    junto ao design simples e limpo, trazem uma dinânica maior ao controle de laudos, pacientes, atividades internas e muito mais
                </p>
        
            </div>
            <div class="subtitle-about">
                <h2>Tecnologias utilizadas</h2> 
                <div class="line"></div>
            </div>  
            <div class="system-tecs">
                <p><strong>Django</strong>: O projeto majoritariamente foi desenvolvido neste framework, 
                que é escrito em python no qual a criação de aplicações web tanto no lado do servidor
                quanto no lado do cliente. A escolha foi para concatenar com a IA que utilizei, também escrita em python.
                </p><br>
                <p><strong> YOLO (You Only Look Once)</strong>: Algoritmo de detecção de objetos de interesse em cena. 
                    Esse algoritmo foi usado para treinar um DataSet de mais de 400 imagens sanguíneas no Google Colab que tiveram bounding-boxes
                    criados manualmente. 
                    o YOLO utiliza a arquitetura de rede neural conhecida como CNN (Convolutional Neural Network) para realizar 
                    a detecção de objetos. As CNNs são especialmente adequadas para tarefas de visão computacional, pois são capazes 
                    de aprender representações hierárquicas de características em imagens, o que as torna muito eficazes na detecção
                    e classificação de objetos. 
                </p><br>
                <p><strong>Darknet</strong>: Framework utilizado para treinar o modelo utilizando YOLO com algoritmo.</p><br>
                <p><strong>JavaScript, Jquery, AJAX</strong>: Utilizadas para aperfeiçoar a interação com o usuário.</p><br>
                <p><strong>HTML e CSS</strong>: Usadas para estrutração e estilização da página.</p><br>               
            </div>
                   
        </div>
    </div>
    <script src="{% static 'global/js/profile_tab.js' %}"></script>
{% endblock content %}