{% extends 'global/base.html' %}    

{% block title %}Home |{% endblock title %}

{% block content %}
{% include 'global/partials/messages.html' %}
    <div class="main-content container">
        
        <h1 class="personal-heading">Olá,  {{ user.username }} </h1>
        <p class="center personal-p-tag">Sinta-se a vontade</p>
        
        <div class="home-funcionalities">
            <div class="home-func-sub">
                <h3>Funcionalidades básicas de acordo com o seu perfil</h3>
                <p>Para melhor compreensão do sistema, você a seguir irá ver uma breve instrução de uso do sistema</p>
            </div>    
            <div class="home-profile-func">
                {% if tec %}
                    <p class="home-icon-info"><i class="fas fa-bars home-icon"></i><strong>Menu</strong></p>
                    <p>No canto superior à esquerda, você encontrará este ícone que te permite acessar uma série de opções que serão explicadas abaixo</p>

                    <p class="home-icon-info"><i class="fa-solid fa-house home-icon"></i><strong>Página inicial</strong></p>
                    <p>Aqui você será redirecionado para página inicial (essa que você está), onde você pode obter instruções de uso</p>
                    
                    <p class="home-icon-info"><i class="fa-solid fa-magnifying-glass home-icon"></i><strong>Pesquisar paciente</strong></p>
                    <p>Aqui você pode localizar pacientes cadastrados no sistema, para visualizar seus dados pessoais, alterá-los se for o caso 
                    (exclusivos para administradores e recepcionistas) e também visualizar todos os laudos cadastrados em seu respectivo CPF</p>

                    <p class="home-icon-info"><i class="fa-solid fa-share home-icon"> </i><strong>Enviar imagem</strong></p>
                    <p>Página exclusiva para administradores e usuários do tipo técnico, que possibilita o envio de imagens sanguíneas microscópicas
                    de acordo com o usuário que teve o sangue coletado, que em seguida serão processadas através de um algoritmo de detecção e gerará um laudo com dados premiliares para uma avaliação mais precisa. 
                    </p>

                    <p class="home-icon-info"><i class="fa-solid fa-flask home-icon"></i><strong>Consultar laudo</strong></p>
                    <p>Apenas o usuário do tipo paciente não tem acesso, essa página possui um campo de busca que permite você filtrar laudos
                    já enviados de acordo com o cpf de determinado paciente, além de uma lista dos laudos cadastrados mais recentemente</p>

                    <p class="home-icon-info"><i class="fa-solid fa-circle-info home-icon"></i><strong>Sobre</strong></p>
                    <p>Página que conta melhor sobre como o sistema foi criado e por quem, além de explicar melhor o objetivo e tecnologias utilizadas</p>

                    <p class="home-icon-info"><i class="fa-solid fa-user home-icon"></i><strong>Meu perfil</strong></p>
                    <p>Aqui você pode visualizar informações relacionados ao seu perfil, como movimentações de acordo com sua especificidade 
                    e seus dados pessoais</p> 
                {% endif %}

                {% if recpt %}
                    <p class="home-icon-info"><i class="fas fa-bars home-icon"></i><strong>Menu</strong></p>
                    <p>No canto superior à esquerda, você encontrará este ícone que te permite acessar uma série de opções que serão explicadas abaixo</p>

                    <p class="home-icon-info"><i class="fa-solid fa-house home-icon"></i><strong>Página inicial</strong></p>
                    <p>Aqui você será redirecionado para página inicial (essa que você está), onde você pode obter instruções de uso</p>

                    <p class="home-icon-info"><i class="fa-solid fa-user-plus home-icon"></i><strong>Cadastro de paciente</strong></p>
                    <p>Página que permite o acesso ao formulário de cadastro de pacientes no sistema, exclusiva para administradores
                    e recepcionistas</p>

                    <p class="home-icon-info"><i class="fa-solid fa-magnifying-glass home-icon"></i><strong>Pesquisar paciente</strong></p>
                    <p>Aqui você pode localizar pacientes cadastrados no sistema, para visualizar seus dados pessoais, alterá-los se for o caso 
                    (exclusivos para administradores e recepcionistas) e também visualizar todos os laudos cadastrados em seu respectivo CPF</p>

                    <p class="home-icon-info"><i class="fa-solid fa-flask home-icon"></i><strong>Consultar laudo</strong></p>
                    <p>Apenas o usuário do tipo paciente não tem acesso, essa página possui um campo de busca que permite você filtrar laudos
                    já enviados de acordo com o cpf de determinado paciente, além de uma lista dos laudos cadastrados mais recentemente</p>

                    <p class="home-icon-info"><i class="fa-solid fa-circle-info home-icon"></i><strong>Sobre</strong></p>
                    <p>Página que conta melhor sobre como o sistema foi criado e por quem, além de explicar melhor o objetivo e tecnologias utilizadas</p>

                    <p class="home-icon-info"><i class="fa-solid fa-user home-icon"></i><strong>Meu perfil</strong></p>
                    <p>Aqui você pode visualizar informações relacionados ao seu perfil, como movimentações de acordo com sua especificidade 
                    e seus dados pessoais</p> 
                {% endif %}

                {% if patient %}
                    <p class="home-icon-info"><i class="fas fa-bars home-icon"></i><strong>Menu</strong></p>
                    <p>No canto superior à esquerda, você encontrará este ícone que te permite acessar uma série de opções que serão explicadas abaixo</p>

                    <p class="home-icon-info"><i class="fa-solid fa-house home-icon"></i><strong>Página inicial</strong></p>
                    <p>Aqui você será redirecionado para página inicial (essa que você está), onde você pode obter instruções de uso</p>

                    <p class="home-icon-info"><i class="fa-solid fa-circle-info home-icon"></i><strong>Sobre</strong></p>
                    <p>Página que conta melhor sobre como o sistema foi criado e por quem, além de explicar melhor o objetivo e tecnologias utilizadas</p>

                    <p class="home-icon-info"><i class="fa-solid fa-user home-icon"></i><strong>Meu perfil</strong></p>
                    <p>Aqui você pode visualizar informações relacionados ao seu perfil, como movimentações de acordo com sua especificidade 
                    e seus dados pessoais</p> 
                {% endif %}         

                {% if adm %}
                    <p class="home-icon-info"><i class="fas fa-bars home-icon"></i><strong>Menu</strong></p>
                    <p>No canto superior à esquerda, você encontrará este ícone que te permite acessar uma série de opções que serão explicadas abaixo</p>

                    <p class="home-icon-info"><i class="fa-solid fa-house home-icon"></i><strong>Página inicial</strong></p>
                    <p>Aqui você será redirecionado para página inicial (essa que você está), onde você pode obter instruções de uso</p>
                    
                    <p class="home-icon-info"><i class="fa-solid fa-user-plus home-icon"></i><strong>Cadastro de paciente</strong></p>
                    <p>Página que permite o acesso ao formulário de cadastro de pacientes no sistema, exclusiva para administradores
                    e recepcionistas</p>

                    <p class="home-icon-info"><i class="fa-solid fa-user-plus home-icon"></i><strong>Cadastro de usuário</strong></p>
                    <p>Somente usuários administradores tem acesso à essa página, ela permite que você possa
                    cadastrar um dos três tipos de usuários permitidos, preenchendo o formulário de acordo com a especificidade de cada perfil</p>

                    <p class="home-icon-info"><i class="fa-solid fa-magnifying-glass home-icon"></i><strong>Pesquisar paciente</strong></p>
                    <p>Aqui você pode localizar pacientes cadastrados no sistema, para visualizar seus dados pessoais, alterá-los se for o caso 
                    (exclusivos para administradores e recepcionistas) e também visualizar todos os laudos cadastrados em seu respectivo CPF</p>

                    <p class="home-icon-info"><i class="fa-solid fa-share home-icon"> </i><strong>Enviar imagem</strong></p>
                    <p>Página exclusiva para administradores e usuários do tipo técnico, que possibilita o envio de imagens sanguíneas microscópicas
                    de acordo com o usuário que teve o sangue coletado, que em seguida serão processadas através de um algoritmo de detecção e gerará um laudo com dados premiliares para uma avaliação mais precisa. 
                    </p>

                    <p class="home-icon-info"><i class="fa-solid fa-flask home-icon"></i><strong>Consultar laudo</strong></p>
                    <p>Apenas o usuário do tipo paciente não tem acesso, essa página possui um campo de busca que permite você filtrar laudos
                    já enviados de acordo com o cpf de determinado paciente, além de uma lista dos laudos cadastrados mais recentemente</p>

                    <p class="home-icon-info"><i class="fa-solid fa-circle-info home-icon"></i><strong>Sobre</strong></p>
                    <p>Página que conta melhor sobre como o sistema foi criado e por quem, além de explicar melhor o objetivo e tecnologias utilizadas</p>

                    <p class="home-icon-info"><i class="fa-solid fa-user home-icon"></i><strong>Meu perfil</strong></p>
                    <p>Aqui você pode visualizar informações relacionados ao seu perfil, como movimentações de acordo com sua especificidade 
                    e seus dados pessoais</p> 
                {% endif %}  
            </div>
        </div>
    </div>
   
{% endblock content %}


