{% extends "global/base_report.html" %}
{% block title %}Laudo |{% endblock title %}

{% block content %}
{% include 'global/partials/messages.html' %}
    <div class="main-content center">
        <div class="report-detail-container">
            
            <h3 class="teste-home">Informações do laudo</h3>

            <div class="report-description-container">
                <div class="table-container">
                    <table class="report-detail-table">
                        <tr>
                            <td class="cell-white"><strong>Data de Envio:</strong></td>
                            <td class="cell-black">{{ laudo.created_at }}</td>
                        </tr>
                        <tr>
                            <td class="cell-white"><strong>CPF do paciente:</strong></td>
                            <td class="cell-black">{{ laudo.cpf }}</td>
                        </tr>
                        <tr>
                            <td class="cell-white"><strong>Nome do paciente:</strong></td>
                            <td class="cell-black">{{ laudo.name }}</td>
                        </tr>   
                        {% for detected_image in detected_images %}
                            <tr>
                                <td class="cell-white"><strong>Número de glóbulos brancos detectados</strong></td>
                                <td class="cell-black">{{ detected_image.total_wbc }}</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Número de glóbulos vermelho detectados</strong></td>
                                <td class="cell-black">{{ detected_image.total_rbc }}</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Número de plaquetas detectadas</strong></td>
                                <td class="cell-black">{{ detected_image.total_plaquetas }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="before_aft_detect">
                <div class="report-image-box">
                    <h3> Imagem analisada:</h3>   
                    <img src="{{ laudo.image.url }}" alt="Imagem do Laudo"> 
                </div>

                <div class="blue-arrow">
                    <img src="/media/lab/others/seta_azul.png" alt="titulo" class="seta">     
                </div> 

                {% for detected_image in detected_images %}
                    <div class="report-image-box">
                        <h3> Resposta de detecção:</h3>   
                        <img src="{{ detected_image.detected_img.url }}" alt="Deteccao"> 
                    </div>
                {% endfor %}
            </div>

           
        </div>
    </div>
{% endblock content %}