{% extends "global/base_report.html" %}
{% block title %}Laudo |{% endblock title %}

{% block content %}
{% include 'global/partials/messages.html' %}
    <div class="main-content">
        {% if laudos %}
            <h1 class="teste-home">
                Laudos de {{ profile_user.first_name }} {{ profile_user.last_name}}: 
            </h1>
            
        <div class="report-container">
                {% for laudo in laudos %}
                    {% include 'lab/partials/report_profile.html' %}
                {% endfor %}
            {% else %}
                <img src="/media/lab/others/sem-laudo.png" alt="Logo" class="image-no-report">
            {% endif %}
        </div>
    </div>
{% endblock content %}