{% extends "global/base_report.html" %}
{% block title %}Laudo |{% endblock title %}

{% block content %}
{% include 'global/partials/messages.html' %}
    <div class="main-content center">
        <p><strong>Data de Envio:</strong> {{ laudo.created_at }}</p>
        <p> <strong> CPF do paciente: </strong></p> {{ laudo.cpf }}  
        <p> <strong> nome do paciente: </strong></p> {{ laudo.name }} 
        <p><strong>Imagem do Laudo:</strong></p>   
        <img src="{{ laudo.image.url }}" alt="Imagem do Laudo"> 
    </div>
{% endblock content %}