{% extends 'global/base.html' %}    

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
    <div class="main-content container">
        <h3 class="heading-report-top">
           Você pode filtrar busca de laudos por data, CPF ou nome do paciente
        </h3>
        {%include 'global/partials/search_report.html'%}
        {% if search_term or search_date %}  
            {% if reports %} <!-- se existe laudo--> 
                <div class="heading-report-result-container">
                    <h4>
                        Resultados da pesquisa realizada:
                    </h4>
                </div>
                <div class="report-list-container">
                    {% for report in reports %} <!-- mostra todos os laudos--> 
                        {% include "lab/partials/report_searched_partial.html" %}
                    {% endfor %}
                    
                </div>
                {% include 'global/partials/pagination.html' %}
            {% else %}
                <h3 class="no-report-msg"> Não existe nenhum laudo com o termo "{{ search_term }} {{search_date}}" </h3>
            {% endif %}
        {% else %}
            <div class="heading-report-result-container">
                <h4>
                    Abaixo estão todos os laudos existentes:
                </h4>
            </div>
            <div class="report-list-container">
                {% for report in all_reports %} <!-- mostra todos os laudos--> 
                    {% include "lab/partials/report_searched_partial.html" %}
                {% endfor %}
                
            </div>
            {% include 'global/partials/pagination.html' %}
        {% endif %}
        
    </div>
{% endblock content %}