{% extends "global/base.html" %}
{% block title %}Laudo |{% endblock title %}

{% block content %}
    <div class="main-content center">
        <div class="report-detail-container">
            
            <h3 class="personal-heading">Informações do laudo</h3>

            <div class="report-description-container">
                <div class="table-container">
                    <table class="report-detail-table">
                        <tr>
                            <td class="cell-white"><strong>Data de Envio:</strong></td>
                            <td class="cell-black">{{ report.created_at }}</td>
                        </tr>
                        <tr>
                            <td class="cell-white"><strong>CPF do paciente:</strong></td>
                            <td class="cell-black">{{ report.cpf }}</td>
                        </tr>
                        <tr>
                            <td class="cell-white"><strong>Nome do paciente:</strong></td>
                            <td class="cell-black">{{ report.name }} </td>
                        </tr>   
                        {% for detected_image in detected_images %}
                            <tr>
                                <td class="cell-white"><strong>Número células totais detectadas</strong></td>
                                <td class="cell-black">{{ detected_image.total_detects }}</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Número de hemácias detectadas</strong></td>
                                <td class="cell-black">{{ detected_image.total_rbc }}</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Número de leucócitos detectados</strong></td>
                                <td class="cell-black">{{ detected_image.total_wbc }}</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Número de plaquetas detectadas</strong></td>
                                <td class="cell-black">{{ detected_image.total_platelets }}</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Concentração em % de hemácias</strong></td>
                                <td class="cell-black">{{ detected_image.concentration_rbc }} %</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Concentração em % de leucócitos</strong></td>
                                <td class="cell-black">{{ detected_image.concentration_wbc }} %</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Concentração em % de plaquetas</strong></td>
                                <td class="cell-black">{{ detected_image.concentration_plaquetas }} %</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Concentração de leucócitos por hemácias</strong></td>
                                <td class="cell-black">{{ detected_image.concentration_wbc_rbc }} </td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Média do diâmetro das hemácias</strong></td>
                                <td class="cell-black">{{ detected_image.media_diam_rbc }}  µm</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Média do diâmetro dos leucócitos</strong></td>
                                <td class="cell-black">{{ detected_image.media_diam_wbc }} µm</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Média da circunferência das hemácias</strong></td>
                                <td class="cell-black">{{ detected_image.media_circun_rbc }}  µm</td>
                            </tr>
                            <tr>
                                <td class="cell-white"><strong>Média da circunferência dos leucócitos</strong></td>
                                <td class="cell-black">{{ detected_image.media_circun_wbc }} µm</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="before_aft_detect">
                <div class="report-image-box">
                    <h3> Imagem analisada:</h3>   
                    <img src="{{ report.image.url }}" alt="Imagem do Laudo"> 
                </div>

                <div class="blue-arrow">
                    <img src="/media/lab/others/seta_azul.png" alt="titulo" class="seta">     
                </div> 

                {% for detected_image in detected_images %}
                    <div class="report-image-box">
                        <h3> Resposta de detecção:</h3>   
                        <img src="{{ detected_image.detected_img.url }}" alt="Deteccao"> 
                    </div>
                {% endfor %}
            </div>

           
        </div>
    </div>
{% endblock content %}