{% extends "global/base.html" %}
{% block title %}Laudo |{% endblock title %}

{% block content %}
{% include 'global/partials/messages.html' %}
    <div class="main-content container">
        {% if reports %}
            <h2 class="personal-heading">Laudos de 
                <span class="user-profile-name">
                    {{ profile_user.first_name }} {{ profile_user.last_name}}: 
                </span> 
            </h1>
            
        <div class="report-list-container">
                {% for report in reports %}
                    {% include 'lab/partials/report_profile_partial.html' %}
                {% endfor %}
            {% else %}
                <img src="/media/lab/others/sem-laudo.png" alt="Logo" class="image-no-report">
            {% endif %}
        </div>
        {% include 'global/partials/pagination.html' %}
    </div>
{% endblock content %}