{% extends 'global/base.html' %}    

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}

<div class="main-content container">
    <div class="personal-heading">
        <h2>Pesquisa de pacientes</h2>
    </div>
    
    {%include 'global/partials/search.html'%}

    <div class="main-content-list container">  
        {% if search_term %}
            {% if patients %}
                {% for patient in patients %}
                    {% include 'lab/partials/user_partial.html' %}
                {% endfor %}
            {% else %}
                <div class="center m-y">
                    <h2 class="no-patient-msg">Nenhum paciente encontrado</h2>
                </div>
            {% endif %}
        {% else %}
            {% for patient in all_patients %}
                {% include 'lab/partials/user_partial.html' %}
            {% endfor %} 
        {% endif %} 
    </div>
 
    {% include 'global/partials/pagination.html' %}
</div>
{% endblock content %}