{% extends 'global/base.html' %}    
{% load permission_tags %}

{% block title %}Perfil |{% endblock title %}

{% block content %}
{%include 'global/partials/search.html'%}
    <div class="main-content container">
        <div class="profile-from-name ">
            <h3 class="personal-heading">
                Perfil de 
                <span class="user-profile-name">
                    {{ profile_user.first_name}} {{profile_user.last_name}}
                </span> 
                <i class="fas fa-user"></i>
            </h3>
        </div>
        <div class="user-profile-details">
            <div class="patient-content">
                <p><strong>Nome:</strong> {{ profile_user.first_name }} {{ profile_user.last_name }}</p>
                <br>
                <p><strong>CPF:</strong> {{ profile_user.cpf }}</p>
                <br>
                <p><strong>Nascimento:</strong> {{ profile_user.birthday }}</p>
                <br>
                <p><strong>Rua:</strong> {{ profile_user.street }}</p>
                <br>
                <p><strong>Número da residência:</strong> {{ profile_user.number }}</p>
                <br>
                <p><strong>Cidade:</strong> {{ profile_user.city }}</p>
                <br>
                <p><strong>Estado:</strong> {{ profile_user.state }}</p>
                <br>
                <p><strong>ID:</strong> {{ profile_user.id }}</p>
                <br>
                <div class="button-access-user-space">
                    <a href="{% url 'lab:laudo_perfil' usuario_id=profile_user.id %}" class="btn-access-report">
                       <i class='bx bxs-band-aid'></i>‎ ‎Visualizar laudos 
                    </a>
                    {% if user|can:'alterar_dados'%}
                        <a href="{% url 'lab:alterar_dados' usuario_id=profile_user.id %}" class="btn-access-edit">
                            <i class='bx bx-pencil'></i>‎ ‎Editar perfil
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
{% endblock content %}