{% extends 'global/base_user.html' %}    

{% block title %}Perfil |{% endblock title %}

{% block content %}
{% include 'global/partials/messages.html' %}
    <div class="main-content">
        <h3 class="teste-home">
            Perfil de 
            <span class="user-profile-name">
               '{{ user.first_name}} {{user.last_name}}'
            </span> 
        </h3>
        <div class="recipe recipe-list-item">
            <div class="recipe-content">
                <p><strong>Nome:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                <p><strong>CPF:</strong> {{ user.cpf }}</p>
                <p><strong>Nascimento:</strong> {{ user.birthday }}</p>
                <p><strong>Rua:</strong> {{ user.street }}</p>
                <p><strong>Número da residência:</strong> {{ user.number }}</p>
                <p><strong>Cidade:</strong> {{ user.city }}</p>
                <p><strong>Estado:</strong> {{ user.state }}</p>
                <p><strong>ID:</strong> {{ user.id }}</p>
                <div class="button-access-user-space">
                    <a href="{% url 'lab:alterar_dados' usuario_id=user.id %}" class="btn-access">
                        Visualizar laudos
                    </a>
                    <a href="{% url 'lab:alterar_dados' usuario_id=user.id %}" class="btn-access">
                        Editar perfil
                    </a>
                    
                </div>
            </div>
        </div>
        
    </div>
{% endblock content %}