{% extends 'global/base.html' %}

{% block title %}Meu perfil | {% endblock title %}

{% block content %}

    <div class="container">
        <div class="main-content">
                <div class="personal-heading">
                <h1>Meu perfil</h1>
            </div>

            {% if recpt %}
            <h3>Meu nome: {{ recpt.user.first_name }} </h3>
          
            {% for patient in patients %}

                <p>nome: {{patient.first_name}}</p>
                <p>sobrenome:{{patient.last_name}}</p>
                <p>id:{{patient.user_id}}</p>

            {% endfor %}
            {% endif %}

            {% if tec %}
                <h1>Meu nome: {{ tec.user.first_name }} </h1>
                {% for lab in labs %}

                    <p>nome paciente: {{lab.patient.first_name}}</p>
                    <p>sobrenome:{{lab.patient.last_name}}</p>
                    <p>id:{{lab.created_at}}</p>

                {% endfor %}
            {% endif %}
            {% if patient %}
                
                {% include "authors/partials/patient_profile_partial.html" %}

            {% endif %}
        </div>
    </div>

{% endblock content %}

