{% extends 'global/base.html' %}

{% block title %}Meu perfil | {% endblock title %}

{% block content %}

    <div class="container">
        <div class="main-content">
            <div class="personal-heading">
                <h2>Meu perfil</h2>
            </div>
 <!-- Recepcionista-->            
            {% if adm %}
                {% include "authors/partials/profiles/admin_profile_tabs.html" %}

            {% endif %}
<!-- Recepcionista-->            
            {% if recpt %}
                {% include "authors/partials/profiles/recpt_profile_tabs.html" %}
            {% endif %}
<!-- tecnico-->  
            {% if tec %}
                {% include "authors/partials/profiles/tec_profile_tabs.html" %}
            {% endif %}
<!-- paciente-->  
            {% if patient %}
                {% include "authors/partials/profiles/patient_profile_tabs.html" %}
            {% endif %}
        </div>
    </div>

{% endblock content %}

