:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}



                /* PADRONIZAÇÕES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    min-height: 100%;
    font-size: 62%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
    color: var(--color-dark-text);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: var(--font-headings)
}




                    /*  TUDO DO PROJETO PASSADO  */
.main-content {
    padding-top: 0;
    margin-top: 3rem; 
    padding-bottom: 8rem;
}


.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
    margin-bottom: 5rem
}

/*HOME*/
/* TESTE dos h1 que estão no lab*/
.personal-heading {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-bottom: 2rem;
}
.personal-heading .user-profile-name {
    display: inline;
    color: rgb(142, 120, 221);
    font-size: 3rem;
    margin: 0 0.3rem;
}

.personal-p-tag {
    margin-bottom: 4rem;
}
.home-image-container {
    margin: 0 auto;
    max-width: 120rem;
    align-content: flex-start;
}



                    /*  HEADER  */          
.main-header-container {
    background-color: rgba(69, 143, 255, 1);
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
}


.image-logo {
    width: 143.5px;
    height: 88.5px;
}
.image-title {
    width: 201px;
    height: 42px;
}
.logo-link {
    text-decoration: none;
    display: flex;
    margin-top: 0.9rem;
}
.logo-link .bx {
    margin-left: 0.4rem;
    font-size: 3.4rem;
    color: rgb(255, 255, 255);
}
.main-logo {
    font-size: 4rem;
    color: white;
    text-decoration: none;
    margin-left: auto;
}
.bx .bxs-donate-blood {
    margin-right: 9rem;
    margin-bottom: 0rem;
    font-size: 30rem;
}
.hello-user{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center ; 
    margin-left: auto;
    margin-right: 2rem;
    }
.hello-user .hello {
    white-space: nowrap;
    color: var(--color-gray-9);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hello-user .name {
    font-weight: 500;
}



                    /*  SEARCH DE PESQUISA  */

.search-form {
    border: .2rem solid var(--color-primary-dark);
    max-width: 64rem;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}
.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}
.search-input {
    width: 100%;
    padding-right: 3rem;
}
.search-button {
    position: absolute;
    top: 0;
    right: 0;
}
.search-button:hover {
    cursor: pointer;
}
.search-button:focus {
    outline: 1px solid var(--color-primary);
    background: rgba(0, 0, 0, .05);
}
.search-form:focus-within {
    border-color: var(--color-primary);
    background: var(--color-white);
}
.search-form:focus-within .search-button {
    color: var(--color-primary);
}


                    /* USER - DETAILS*/
                
.user-profile-details{ /*igual a recipe*/
    background: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    border-radius: .7rem;
    overflow: hidden;
   
}
.user-profile-list {/*igual a recipe-list-item*/
    max-width: 64rem;
    height: fit-content;
}
.user-profile-content { /*igual a recipe-content*/
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
    max-width: 50rem;
}
.profile-from-name {
    padding: 1rem 1rem;
    min-height: 2rem;
    /* max-width: 100rem;*/
    background-color:rgb(31, 15, 61);
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 1rem;
}           
.profile-from-name .personal-heading {
    color: white;
}
.btn-access .bx {
    font-size: 17px;
}
.no-patient-msg {   
    color: var(--color-error-dark);
    margin: 7rem auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.patient-content {
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
}
.button-access-user-space {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 2rem;
    text-align: center;
} 
.patient-content-paragrah {
    width: 100%;
}

                    /*  REPORTS DETAILS (DETALHES DOS LAUDOS) */
.report-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}
.report-list-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
    margin-bottom: 3rem;
}
.report{
    background: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: .7rem;
    overflow: hidden;
    margin: 1rem 0 0 0 ;
    padding: 0.2rem;
}
.report-list-item {
    max-width: 55rem;
    height: fit-content;
}
.report-list-item:hover {
    transform: scale(1.03);
    box-shadow: -8px 8px 18px rgba(0, 0, 0, .3);
}
.report-content {
    display: flex;
    flex-direction: column;
    min-height: 23rem;
    padding: var(--spacing-gutter-medium);
    padding-top: 1rem;
}
.report img{
    margin-top: 1rem;
    max-width: 100%;
    max-height: 100%;
    
}
.image-no-report{
    display: block;
    margin: 0 auto;
    width: 28%; 
    height: 28%;
} 
/*detalhes*/
.before_aft_detect{
    display: flex;
    justify-content: space-between;
    margin-right: 10rem;
    margin-left: 10rem;
}
.blue-arrow {
    max-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.blue-arrow img {
    max-width: 100%; 
    height: auto;
}
.report-image-box {
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 50rem;
    max-height: 50rem;
}
.report-image-box img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    border: 0.5px solid var(--color-gray-3);
    border-radius: 5px;
    margin-top: 2rem;
    max-width: 100%;
    max-height: 100%;
}           

/* table */

.report-description-container {
    background-color: #000;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    border: 0.5px solid var(--color-gray-3);
    border-radius: 5px;
    overflow: hidden;
}
.table-container {
    overflow: hidden;
}
.report-detail-table {
    border-collapse: collapse;
    width: 100%;
}
.report-detail-table td {
    padding: 0.9rem 2rem;
    text-align: left;
}
.cell-white {
    background-color: #fff;
    color: var(--color-primary-dark);  
}
.cell-black {
    background-color: var(--color-primary-dark);
    color: #fff;
}


                /* REPORT SEARCH - PESQUISA DE LAUDO */
.search-container-report {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.search-sec-box-report {
    font-size: 1.5rem;
    max-width: 64rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search_date {
    color: var(--color-dark-text);
    font-size: 1.5rem;
    background-color: var(--color-gray-1);
    border: 1px solid var(--color-primary-dark);
    border-radius: 5px;
} 

#combined-search-button {
    font-size: 1.4rem;   
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border: 10px var(--color-primary-dark);
    background-color:var(--color-success-dark);
    font-style: bold;
    color: white;
    padding: 1rem 5rem;
    transition: all 300ms ease-in-out;
}
#combined-search-button:hover{
    background-color: rgb(6, 100, 6);
}

.heading-report-top {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.heading-report-result-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgb(77, 68, 160);
    border-radius: 6px;
}
.heading-report-result-container h4{
    margin: 0 auto; 
    color: white;
}
.no-report-msg {
    color: var(--color-error-dark);
    margin: 10rem auto 18.1rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.report-list-search {
    max-width: 31rem;
    height: fit-content;
}
.report-user-acess-container{
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    width: 100%;
}
.report-user-access-btn {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 1rem 0;
    font-size: 1.5rem;
    background-color: var(--color-primary-dark);
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.report-user-access-btn:hover {
    display: inline-block;
    background-color: var(--color-primary-dark-hover);
}
.bxs-binoculars {
    font-size: 1.7rem;
    margin-left: 0.5rem;
}


                    /* IMAGE ENVIAR */
.patient-list {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.patient-radio-list {
    margin-top: 0rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
}
.patient-radio-list li {
    list-style-type: none;
}
                    /*  FOOTER */

.main-footer {
    width: 100%;
    background-color: rgba(69, 143, 255, 1);
    padding: var(--spacing-gutter-large);
    margin-top: auto;
}
.main-footer-content {
    display: flex;
    justify-content: space-between;
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(.8);
}




                        /*pagination CSS*/
.pagination-content {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem 0.5rem;
   
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.pagination .page-item {
    background-color: var(--color-gray-3);
    padding: 0.5rem 1rem ;
}
.pagination .page-link {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
}
.pagination .page-current {
    background-color: var(--color-primary-dark);
}




                    /* Página de escolha de cadastro*/
.register-custom-user {
    height: 100%;
    width: 100%;
    margin-top: 10rem;
}
.access-register-page {
    max-width: 84rem;   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btn-access {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 1rem;
    text-align: center;
    background-color: var(--color-success-dark);
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 4rem;
    width: 20rem;
}
.btn-access:hover {
    display: inline-block;
    background-color: rgb(6, 100, 6);   
}
.btn-access-edit {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 1rem;
    text-align: center;
    background-color: rgb(84, 116, 123);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 4rem;
    width: 20rem;
}
.btn-access-edit:hover {
    display: inline-block;
    background-color: rgb(32, 60, 58);   
}
.btn-access-dcption {
    margin-top: 2rem;
    width: 20rem;
    height: 100%;
    text-align: center;
    word-wrap: break-word;
}
.btn-access-dcption h4 {
    margin: 1rem;
}
.btn-access-dcption .info-br-color {
    color: var(--color-gray-5)
}




                    /* FORMS */
.form-content {
    max-width: 64rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-gutter-medium);
}
.form-content label,
.form-content .help-text,
.errorlist {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.4rem;
  list-style-type: none;
  
}
.errorlist {
    color: var(--color-error-dark);
}
.form-content input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary-dark);
}
.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: calc(var(--spacing-gutter-medium) / 2) var(--spacing-gutter-medium);
    
}
.form-content button {
    padding: 1rem 2rem;
    border: none;
    background-color: var(--color-success-dark); 
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    height: 4rem;
}



.btn-register {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #269fe6;
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 4rem;
}
.form-content btn-register:hover {
    background-color: #2086c2; 
}
.btn-voltar {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--color-error-dark); 
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 4rem;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inline-form {
    display: inline;
}
.inline-form .plaintext-button {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 1.6rem;
}




                /* Form login personalizado */
.body-blue {
    height: 100%;
    width: 100%;
    background-color: rgba(69, 143, 255, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    height: 100%;
    width: 100%;
}

.login-card {
    width: 600px; 
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35); 
    border-radius: 2rem;
    min-width: 280px;
}
.card-intro {
    color: white;
    font-weight: 600;
    margin-top: 3rem;
    margin-left: 1rem;
}
.card-info {
    color: white;
    font-weight: 600;
    margin-top: 3rem;
    margin-left: 1rem;
}
.image-logo-login{
    width: 143.5px;
    height: 88.5px;
    margin-top: 7rem;
}
.retangulo-esquerda {
    width: 200px; 
    height: 100%; 
    background-color:rgba(69, 143, 255, 1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 1.4rem 0rem 0rem 1.4rem;
}
.wrapper {
    width: 400px;
    height: 100%;
    background-color: white;
    padding: 3rem 4rem;
    border-radius: 0rem 1.4rem 1.4rem 0rem;
}
.wrapper h3 {
   text-align: center;
   margin-top: 1rem;
   color: #269fe6;
}
.wrapper .btn-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 3rem 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: rgb(232, 240, 254);
    color: var(--color-primary-dark);
    font-weight: 400;
    border:none;
    outline: none;
    border: 2px solid var(--color-gray-3) ;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding: 2rem 4.5rem 2rem 2rem;
    font-size: 1.5rem;
}
.input-box::placeholder {
    color: var(--color-gray-3);
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.btn-register-temp {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-top: 2rem;
    width: 13rem;
    text-align: center;
    padding: 1rem;
    background-color: #269fe6;
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 4rem;
    transition: background-color 0.3s ease;
    font-weight: 600;
}
.wrapper .btn-register-temp:hover {
    background-color: #2086c2; 
}
.wrapper #btn-temp {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    width: 13rem;
    text-align: center;
    padding: 1rem;
    border: none;
    background-color: var(--color-success-dark); 
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 4rem;
    font-weight: 600;
    font-size: 15px;
}
#btn-temp:hover {
    background-color: rgb(61, 126, 61);
}

                        /* LOADING FORM */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

                    /* Messages */
.messages-container {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing-gutter-medium) / 2);
}
.message {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-2);
  color: var(--color-dark-text);
}
.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}
.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}
.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}
.message-alert {
  border: 1px solid var(--color-alert-dark);
  background: var(--color-alert-light);
  color: var(--color-alert-dark);
}
.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}
.message-debug {
  border: 1px solid var(--color-debug-dark);
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}





                        /* Menu */
.hidden-text {
    display: none;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 262px;
    min-height: 110vh;
    overflow-y: auto;
    background: var(--color-primary-dark);
    z-index: 2;
    transition: all 300ms ease-in-out;
}
.menu-container a {
    color: var(--color-white);
}
.menu-hidden {
    left: -255px;
}
.button-show-menu {
    position: fixed;
    left: 265px;
    top: 2rem;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    border: none;
    font-size: 2rem;
    z-index: 3;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.button-show-menu:hover {
    transition: all 150ms ease-in-out;
    color: #959595;
}
.button-show-menu-visible {
    visibility: visible;
    opacity: 1;
    left: 5px;
}
.button-close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--color-white);
    background: none;
    border: none;
    font-size: 2rem;
    z-index: 3;
    cursor: pointer;
}
.button-close-menu :hover{
    transition: all 150ms ease-in-out;
    color: #959595;
}
.menu-nav {
    display: flex;
    flex-flow: column wrap;
    font-family: var(--font-headings);
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
}
.menu-nav a {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
}
.menu-nav a:hover {
    transition: all 300ms ease-in-out;
    color: #959595;
}
.menu-nav a.authors-logout-link {
    color: var(--color-error-dark);
    margin-top: 18rem;
    margin-left: 5rem;
}
.blurred-content {
    filter: blur(2.5px); 
    pointer-events: none; 
}


                    /* Generics */
.center {
    text-align: center;
}
.m-x {
    margin: 0 var(--spacing-gutter-medium);
}
.m-y {
    margin: var(--spacing-gutter-medium) 0;
}

                    /**********************RESPONSIVIDADE 1200px*****************/
/*Home*/
@media(min-width: 950px) and (max-width: 1300px) {
    .report-list-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        max-width: 85rem;
    }
    .main-content {
        padding-bottom: 3rem;
    }
    /*Laudo detalhe e hemograma*/
    .before_aft_detect {
        flex-direction: column;
    }
    .blue-arrow {
        margin: 0 auto;
        transform: rotate(90deg);
    }

    .report-image-box {
        margin: 0 auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        max-width: 100%;
        max-height: 100%;
    }

    
}


                /**********************RESPONSIVIDADE 949px*****************/
@media(min-width: 601px) and (max-width: 949px) {
     /*listas*/
    .report-list-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    /*Main*/  
    .container {
        max-width: 50rem;
    }
    .main-content {
        padding-bottom: 3rem;
    }
    /*Home*/
    .home-image-container{
        display: flex;
        max-width: 50rem;
        margin: 0 auto;
        align-content: flex-start;
    }
    /*Header*/  
    .main-header {
        display: flex;
        justify-content: space-between;
    }
    .header-responsive-949 {
        max-width: 55rem;
        margin: 0 auto;
    }

    /*Cadastro de tipo de usuário*/
    .access-register-page {
        flex-direction: column;
        align-items: center;
    }
    .register-custom-user {
        margin-top: 7rem;
    }
    .form-button-group {
        margin-bottom: 2rem;
    }
    .form-button-group {
        margin-bottom: 4rem;
    }

    /*Laudo detalhe e hemograma*/
    .report-description-container {
        max-width: 58rem;
    }
    .before_aft_detect {
        flex-direction: column;
    }
    .blue-arrow {
        margin: 0 auto;
        transform: rotate(90deg);
    }
    .report-image-box {
        margin: 0 auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        max-width: 100%;
        max-height: 100%;
    }
}


                /**********************RESPONSIVIDADE 600px*****************/
@media (min-width: 301px) and (max-width: 600px) {
    /*listas*/
    .form-content-grid,
    .main-content-list,
    .report-list-container {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .report-list-container {
        gap: 2rem;
      }
    
    /*Main*/  
    .container {
        max-width: 30rem;
    }
    .main-content {
        padding-bottom: 3rem;
    }

    /*Header*/  
    .main-header {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .image-logo {
        margin: 0 auto;
        margin-top: 1rem;
        justify-content: center;
    }
    .main-logo {
        flex-flow: column nowrap; 
        text-align: center; 
    }
    .main-logo-text {
        margin-top: 0.3rem;
        margin-bottom: 1rem;
    }

    /*Home*/
    .home-image-container{
        display: flex;
        max-width: 30rem;
        margin: 0 auto;
    }
    .home-image-container img{
        margin: 0 auto;
        width: 252.75px;
        height: 176.25px;
    }

    /*Login page*/
    .body-blue{
        background-color:white;
        align-items: initial;
    }
    .main-content-login {
        width: 100%;
    }
    .login-container {
        height: 100%;
        width: 100%;
    }
    .login-card {
        flex-direction: column;
        height: auto;
        width: 100%;
        box-shadow: none;
    }
    .retangulo-esquerda {
        width: 100%;
        border-radius: 0;
        padding-top: 2rem;
    }
    .wrapper {
        width: 100%;
        border-radius: 0;
        
    }
    .card-intro {
        margin-left: 0;
    }
    .card-info {
        margin-left: 0;
    }
    .image-logo-login {
        margin-top: 2rem;
        transform: scale(1.1);
    }

    /*Cadastro de tipo de usuário*/
    .access-register-page {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .register-custom-user {
        margin-top: 5rem;
    }
    .form-button-group {
        margin-bottom: 2rem;
    }

    /*Pesquisa de laudo*/
    .search-form {
        margin-bottom: 3rem;
    }
    .search-sec-box-report {
        display: flex;
        flex-direction: column;
    }
    .search-button-report {
        margin-top: 3rem;
    }

    /*Laudo detalhe e hemograma*/
    .report-description-container {
        width: auto;
    }
    .before_aft_detect {
        flex-direction: column;
        margin:auto 4rem;
    }
    .blue-arrow {
        margin: 0 auto;
        transform: rotate(90deg);
    }
    .report-image-box {
        margin: 0 auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        max-width: 100%;
        max-height: 100%;
    }

    /*Footer*/
     .main-footer {
        font-size: 1.4rem;
    }

    
}

            /**********************RESPONSIVIDADE 289px *****************/


@media (max-width: 300px) { 
    .form-content-grid,
    .main-content-list,
    .report-list-container {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .report-list-container {
        gap: 2rem;
      }
    .container {
        max-width: 24rem;
    }
    .main-content {
        padding-bottom: 4rem;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .image-logo {
        margin: 0 auto;
        margin-top: 1rem;
        justify-content: center;
    }
    .main-logo {
        flex-flow: column nowrap; 
        text-align: center; 
    }
    .main-logo-text {
        margin-top: 0.3rem;
        margin-bottom: 1rem;
    }

    /*Home*/
    .home-image-container{
        display: flex;
        max-width: 24rem;
        margin: 0 auto;
    }
    .home-image-container img{
        margin: 0 auto;
        width: 252.75px;
        height: 176.25px;
    }

    /*Pesquisa de laudo*/
    .search-form {
        margin-bottom: 3rem;
    }
    .search-sec-box-report {
        display: flex;
        flex-direction: column;
    }
    .search-button-report {
        margin-top: 3rem;
    }
    
     /*Cadastro de tipo de usuário*/
     .access-register-page {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .register-custom-user {
        margin-top: 5rem;
    }
    .form-button-group {
        margin-bottom: 2rem;
    }

    /*Laudo detalhe e hemograma*/
    .report-description-container {
        margin: 0 auto;
        max-width: 26rem;
    }
    .before_aft_detect {
        flex-direction: column;
        margin:auto 2rem;
    }
    .blue-arrow {
        margin: 0 auto;
        transform: rotate(90deg);
    }
    .report-image-box {
        margin: 0 auto;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        max-width: 100%;
        max-height: 100%;
    }
    .report-detail-table td {
        padding: 1.9rem 0rem 0.9rem 0.6rem;
    }
    .cell-white {
        font-size: 13px;
    }
    .cell-black {
        font-size: 13px;
    }

    /*Pesquisa de paciente*/
    .btn-access {
        width: 100%;
    }
     /*Footer*/
    .main-footer {
        font-size: 1.1rem;
    }
}
 

